/* AdminDashboard.css */

/* BODY */
body {
    background-color: #f4f6f9;
    overflow-x: hidden;
}

/* HEADER */
.top-header {
    background-color: #0d6efd;
    color: white;
    padding: 12px 20px;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1050;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

/* MENU BUTTON */
.menu-btn {
    font-size: 22px;
    background: none;
    border: none;
    color: white;
}

/* ADMIN BADGE */
.admin-badge {
    color: #198754;
    border: 1px solid #198754;
    padding: 4px 14px;
    border-radius: 20px;
    font-size: 14px;
    background-color: #f8fff9;
}

/* SIDEBAR */
.sidebar {
    background-color: #212529;
    height: calc(100vh - 56px);
    padding: 20px;
    color: #fff;
    position: fixed;
    top: 56px;
    left: 0;
    width: 220px;
    z-index: 1100;
    transition: transform 0.3s ease;
    transform: translateX(-100%);
}

.sidebar.open {
    transform: translateX(0);
}
.sidebar-header {
    display: none !important;
}
.sidebar a {
    display: block;
    padding: 10px;
    color: #dee2e6;
    text-decoration: none;
    border-radius: 6px;
    margin-bottom: 8px;
}

.sidebar a:hover {
    background-color: #0d6efd;
    color: #fff;
}

/* PAGE CONTENT */
.page-content {
    margin-top: 56px;
    padding: 20px;
    height: calc(100vh - 56px);
    overflow-y: auto;
}

/* HEADER ACTIONS */
.header-actions {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* MOBILE */
@media (max-width: 530px) {
    .header-actions {
        display: none !important;
    }
     .sidebar-header {
        display: flex !important;
    }
}



a#dashboardLink {
    all: unset;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

